.intro_sidebg::after{
  display: block;
  content: '';
  background-image: url('../../assets/lines.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center center;
}