@import "./font.css";
@import "./global.css";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button, input, input:focus{
  outline: none;
}

input:focus-visible{
  box-shadow: none!important;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

body{
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}